.cursor-tooltip {
    position: absolute;
    z-index: 1;
    background-color: #000;
    color: #fff;
    padding: 3px 9px;
    border-radius: 3px;
    visibility: hidden;
}
.display-none {
    display: none;
}
.control-unit {
    padding: 7px 0px;
    margin-bottom: 0;
    text-align: left;
}
.spoiler-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 21px;
    color: #333;
}
.spoiler-button {
    text-decoration: none;
    cursor: pointer;
}
.spoiler-btn-icon {
    font-size: 36px;
    color: #33b8cc;
}
.spoiler-badge {
    color: #33b8cc;
}
.unlock-btn {
    text-decoration: none;
    cursor: pointer;
}
.unlock-btn-icon {
    font-size: 36px;
    color: #b3b3b3;
}